/tmp/
/document.pdf
/document.synctex.gz
/document.aux
/document.lof
/document.log
/document.out
/document.run.xml
/document.toc
/tempPartial00000.tex
/tempPartial00000.pdf
/tempPartial00000.synctex.gz
